<h1>Stupid Coaching</h1>

<p>Hello, I am your coach, what did you want to tell me?</p>

<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask">
</form>
